 <header id="header" class="hero-unit"><h1><span>WePlayMusic.fr</span><img src="../ui/img/logo.png" /></h1><h3>Gestion d'albums de musique</h3></header>
      <section class="container">
           <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a href="../public/index.php" class="brand">WePlayMusic.fr</a>
                  <div class="nav-collapse">
                    <ul class="nav">
                      <li><a href="../admin/index.php?a=ajouter">Nouvel Album</a></li>
                      <li><a href="../admin/index.php">Gestion des albums</a></li>
                      <li><a href="../public/index.php?a=aide">&nbsp; <span style="display:none;">Aide</span><i class="icon-question-sign icon-white"></i></a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>