<?php
define('SERVER', get('SERVER', '127.0.0.1'));
define('USER', get('DB_USER', 'root'));
define('PASSWD', get('DB_PASSWD', 'password'));
define('DB_NAME', get('DB_NAME', 'we_play_music'));

define('PORT', get('PORT', '3306'));
define('PDO_DSN', 'mysql:host=' . SERVER . ';port=' . PORT . ';dbname=' . DB_NAME);
