/** Design **/

/* css propre à audiojs */
 ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em; }
 ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
 ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
 li.playing:before {
    color: #fff;
    content: "♬";
    font-size: 13px;
    height: 14px;
    left: -24px;
    line-height: 14px;
    margin: 0;
    padding: 3px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    top: 9px;
    width: 14px;
}
li.playing {
    color: #AAAAAA;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.track-details {
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) inset;
    clear: both;
    color: #222222;
    font-family: monospace;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 1px 6px;
    width: 448px;
}

/* cas propre à carouFredsel */

.caroufredsel_wrapper{
   -moz-box-shadow:0px 0px 5px 2px rgba(18, 6, 6, 0.5);
   -webkit-box-shadow:0px 0px 5px 2px rgba(18, 6, 6, 0.5);
   box-shadow:0px 0px 5px 2px rgba(18, 6, 6, 0.5);


}
.list_carousel {
    margin: 0 0 30px 60px;
    width: 820px;
    position: relative;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 14px;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
#next, #prev { 
    text-decoration: none;
    width: 35px;
    height: 41px;
    background-repeat: no-repeat;
    background-image: url('../img/bouton.png');
    margin-bottom: 20px;
    top:60px;
    position : absolute;
}
.prev {
    float: left;
    background-position: left bottom;
    left:-90px;
}
.prev:hover{
    background-position: left top;
}
.next {
    float: right;
    background-position: right bottom; 
    right: -90px;
}
.next:hover{
    background-position: right top;
}
.pager {
    float: left;
    width: 820px;
    text-align: center;
}
.pager a {
    margin: 0 5px;
    text-decoration: none;
}
.pager a.selected {
    text-decoration: underline;
}

.album img{
    width: 150px;
    height: 150px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
}

.album img:hover{
    opacity: 1;
    filter:alpha(opacity=100);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    -moz-box-shadow: 0px 0px 5px 1px #ffffff;
    -webkit-box-shadow: 0px 0px 5px 1px #ffffff;
    -o-box-shadow: 0px 0px 5px 1px #ffffff;
    box-shadow: 0px 0px 5px 1px #ffffff;
}

/* css propre à l'affichage des informations d'un album */
.clearer{
    clear:both;
}

/* css propre à la page d'accueil */
header h1 span{display:none;}

/* css propre à améliorer l'esthétique du footer*/
footer{margin-top:30px;}