/* MISE EN PAGE GÉNÉRALE  */ 

#innerWrapper { 
  margin: 0px;
  /* background-color: red; */
  width: 82%;
  float: left;
}

#outerWrapper { 
  margin: 0px;
  /* background-color: pink; */
}

#leftMenu { 
  /* background-color: blue; */
  width: 18%;
  float: left;
  border: 1px solid black;
  padding: 5px;
  min-height: 300px;
}


#rightMenu { 
  /* background-color: yellow; */
  width: 15%;
  float: right;
  border: 1px solid black;
  padding: 5px;
  min-height: 300px;
  text-align: justify;
}

#content { 
  /* background-color: green; */
  width: 78%;
  float: right;
  text-align: justify;
  padding: 0px 5px;
}

/* STYLES DES MENUS ET LIENS */ 

a:hover {
  text-decoration:underline;
}


/* = = = = = = = = = = = = = =
   Classe menu (gauche et droit)
   = = = = = = = = = = = = = = */

.menu { 
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
  font-size: 12px;
}

.menu a {
  display: block;
  font-family: Verdana, Arial, sans-serif;
  line-height: 18px;
  text-align: right;
  color: #C60017;
  font-weight: bold;
  width: 100%;
  text-decoration:none;
}

.menu a:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: #C60017;
}

.menu input {
  display: inline;
}

.menu span {
  display: block;
  margin-top: 10px;
  text-align: left;
}

h2:first-child { 
  color: yellow;
  border: 2px dotted red;
  
}

.menu *[lang|="fr"]>span { 
  color: green;
}

.menu *[lang|="fr"]>a { 
  color: blue;
}

.menu *[lang|="en"]>span { 
  color: purple;
}

.menu *[lang|="en"]>a { 
  color: green;
}
